<div>
    <ul class="collection">
        <% cards.forEach(card => { %>
        <li class="card">
            <h2><%= card.name %></h2>
            <p><%= card.power %></p>
            <p><%= card.provision %></p>
            <p><%= card.faction %></p>
            <p><%= card.type %></p>
            <a href="/cards/<%= card._id %>"
                ><img src="assets/card.webp" alt="<%= card.name %>"
            /></a>
        </li>
        <% }); %>
    </ul>
</div>
