<div class="container">
    <div class="single-card">
        <img src="assets/card.webp" alt="card" />
        <h2><%= card.name %></h2>
        <p><%= card.power %></p>
        <p><%= card.provision %></p>
        <p><%= card.faction %></p>
        <p><%= card.type %></p>
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
        <form class="edit-form">
            <label for="card-name">Card Name:</label>
            <input type="text" id="card-name" name="card-name" required />
            <label for="card-description">Card Description:</label>
            <textarea id="card-description" name="card-description" required></textarea>
            <button type="submit">Save</button>
            <button type="button" class="cancel-btn">Cancel</button>
        </form>
    </div>
</div>
