<div class="container">
    <div class="single-card">
        <img src="assets/card.webp" alt="<%= card.name %>" />
        <form class="form" method="POST" action="<%= card.url %>?_method=PATCH">
            <label for="name">Name:</label>
            <input
                type="text"
                name="name"
                placeholder="Card name"
                value="<%= card.name %>"
                required
            />
            <label for="power">Power:</label>
            <input
                type="number"
                name="power"
                placeholder="Power (number)"
                value="<%= card.power %>"
                required
            />
            <label for="provision">Provision:</label>
            <input
                type="number"
                name="provision"
                placeholder="Provision (number)"
                value="<%= card.provision %>"
                required
            />
            <label for="faction">Faction:</label>
            <input
                type="text"
                name="faction"
                placeholder="Faction name (nilfgaard, neutral etc.)"
                value="<%= card.faction %>"
                required
            />
            <label for="type">Type:</label>
            <input
                type="text"
                name="type"
                placeholder="Type (unit, leader etc.)"
                value="<%= card.type %>"
                required
            />
            <div class="buttons">
                <button type="submit">Save</button>
                <a href="/">Cancel</a>
            </div>
        </form>
        <div class="buttons">
            <form method="POST" action="<%= card.url %>?_method=DELETE">
                <button type="submit">Delete Card</button>
            </form>
        </div>
    </div>
</div>
